.caixa_login{
    width: 400px;
    height: 300px;
    margin: 20px auto;
    border: solid 1px #CCC;
    border-radius: 10px;
    padding: 20px;
}

.caixa_login h3{
    font: 15px Arial, Helvetica, sans-serif;
    color: #FFF;
    background: #900;
    text-align: center;
    padding: 5px;
    width: 200px;
}